




<div class = "container">
        <div class = "row">
          <div class = "col">
            <div class="jumbotron">
                <h1 class="display-4">Recherche d'un animal</h1>
                <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
                    NOPE
                </div>
                <p class="lead">Ici, vous pouvez consulter les informations d'un animal existant en cherchant par son nom</p>
                <hr class="my-4">
              
                <div class="row">
            
                    <div class="col">
                        <input class="form-control" #input placeholder = "e.g. Guana">
                    </div>
              
                  </div>
                  <br>
                  <div class ="col">
                      <button type="button" class="btn btn-primary" (click)="searchAnimal(input.value)"> Recherche </button>
                  </div>
            
            </div>
          </div>
          <div class = "col">
                <table class = "table table-striped">
                        <thead class = "thead-dark">
                            <th> Nom </th>
                            <th> État </th>
                            <th> Espèce </th>
                            <th> Description </th>
                            <th> Date de naissance </th>
                            <th> Date d'inscription </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let animal of _animals">
                                    <td> {{animal.nom}}</td>
                                    <td> {{animal.etat}}</td>
                                    <td> {{animal.espece}}</td>
                                    <td> {{animal.descr}}</td>
                                    <td> {{animal.datenaissance}}</td>
                                    <td> {{animal.dateins}}</td>
                            </tr>
                        </tbody>
                    </table>
          </div>
        </div>
      </div>