<div class = "container">
    <div class = "row">
      <div class = "col">
        <div class="jumbotron">
            <h1 class="display-4">Recherche des traitement(s) d'un animal</h1>
            <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
                NOPE
            </div>
            <p class="lead">Ici, vous pouvez consulter la liste des traitements prescrits à un animal existant.</p>
            <hr class="my-4">
          
            <div class="row">
          
                <div class="col">
                  Identifiant de la clinique: <select id="inputState" class="form-control" #clinique  [(ngModel)]="_selectedClinic" (change)="updateOwners()">
                      <option selected>Choisir...</option>
                      <option *ngFor = "let clinicId of _clinicIds" value="{{ clinicId }}">{{ clinicId }}</option>
                    </select>
                </div>
          
                <div class="col">
                  Identifiant du proprietaire: <select id="inputState" class="form-control" #propId [(ngModel)]="_selectedOwner" (change)="updateAnimals()" [disabled] = "_isOwnersDisabled">
                      <option selected>Choisir...</option>
                      <option *ngFor = "let ownerId of _ownerIds" value = "{{ ownerId }}">{{ ownerId }}</option>
                    </select>
                </div>
          
                <div class="col">
                  Identifiant de l'animal: <select id="inputState" class="form-control" #animId [(ngModel)]="_selectedAnimal" [disabled] = "_isAnimalsDisabled" (change)= "updateFields()">
                      <option selected>Choisir...</option>
                      <option *ngFor = "let animalId of _animalIds" value = "{{ animalId }}">{{ animalId }}</option>
                    </select>
                </div>
          
              </div>
              <br>
              <div class ="col">
                  <button type="button" class="btn btn-primary" (click)="getTreatments(_selectedAnimal, _selectedOwner, _selectedClinic)"> Recherche </button>
              </div>
        
        </div>
      </div>
      <div class = "col">
        <div *ngIf ="!_noResults">
          <table class = "table table-striped">
            <thead class = "thead-dark">
                  <th> Type de traitement</th>
                  <th> Qté</th>
                  <th> Date de début</th>
                  <th> Date de fin</th>
                  <th> Description </th>
                  
                </thead>
                <tbody>
                  <tr *ngFor="let treatment of _treatments">
                    <td> {{treatment.typeid}}</td>
                          <td> {{treatment.qte}}</td>
                          <td> {{treatment.datedebut}}</td>
                          <td> {{treatment.datefin}}</td>
                          <td> {{treatment.descr}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="_noResults" style="margin-top: 50px; font-size: 30px;"> Aucun traitement </div>
          </div>
    </div>
  </div>
