<div class="jumbotron">
    <div id="traitement" style="text-align: center;">
      <h1 class="display-4">Recherche de traitement(s) d'un animal</h1>
      <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
              NOPE
            </div>
              <ul style="list-style: none;">
                  clinique id: <li><select id="inputState" class="form-control col-md-4" #clinique  [(ngModel)]="_selectedClinic" (change)="updateOwners()" style="margin-left: 33%;">
                  <option selected>Choisir...</option>
                  <option *ngFor = "let clinicId of _clinicIds" value="{{ clinicId }}">{{ clinicId }}</option>
                </select></li>
        
                proprietaire id: <li><select id="inputState" class="form-control col-md-4" #propId [(ngModel)]="_selectedOwner" (change)="updateAnimals()" [disabled] = "_isOwnersDisabled" style="margin-left: 33%;">
                  <option selected>Choisir...</option>
                  <option *ngFor = "let ownerId of _ownerIds" value = "{{ ownerId }}">{{ ownerId }}</option>
                </select></li>
        
                animal id : <li><select id="inputState" class="form-control col-md-4" #animId [(ngModel)]="_selectedAnimal" [disabled] = "_isAnimalsDisabled" (change)= "updateFields()" style="margin-left: 33%;">
                  <option selected>Choisir...</option>
                  <option *ngFor = "let animalId of _animalIds" value = "{{ animalId }}">{{ animalId }}</option>
                </select></li>
                <li><button type="button" class="btn btn-primary" (click)="getTreatments(_selectedAnimal, _selectedOwner, _selectedClinic)"> Recherche </button></li>
              </ul>
    </div>
  </div>
    
<table class = "table table-striped" style="margin-left: 25%;">
    <thead class = "thead-dark">
        <th> Type de traitement</th>
        <th> Qté</th>
        <th> Date de début</th>
        <th> Date de fin</th>
        <th> Description </th>

    </thead>
    <tbody>
        <tr *ngFor="let treatment of _treatments">
                <td> {{treatment.typeid}}</td>
                <td> {{treatment.qte}}</td>
                <td> {{treatment.datedebut}}</td>
                <td> {{treatment.datefin}}</td>
                <td> {{treatment.descr}}</td>

        </tr>
    </tbody>
</table>
