
<div id="traitement" style="text-align: left">
    <h1> Recherche de traitement(s) d'un animal </h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      <ul style="list-style: none;"> <!--
        ID de l'animal : <li><input class="form-control col-md-4" #animId></li>
        ID du propriétaire : <li><input class="form-control col-md-4" #propId></li>
        ID de la clinique : <li><input  class="form-control col-md-4" #clinicId></li>
      -->
      clinique id: <li><select id="inputState" class="form-control col-md-4" #clinique  [(ngModel)]="_selectedClinic" (change)="updateOwners()">
        <option selected>Choisir...</option>
        <option *ngFor = "let clinicId of _clinicIds" value="{{ clinicId }}">{{ clinicId }}</option>
      </select></li>

      proprietaire id: <li><select id="inputState" class="form-control col-md-4" #propId [(ngModel)]="_selectedOwner" (change)="updateAnimals()" [disabled] = "_isOwnersDisabled">
        <option selected>Choisir...</option>
        <option *ngFor = "let ownerId of _ownerIds" value = "{{ ownerId }}">{{ ownerId }}</option>
      </select></li>

      animal id : <li><select id="inputState" class="form-control col-md-4" #animId [(ngModel)]="_selectedAnimal" [disabled] = "_isAnimalsDisabled" (change)= "updateFields()">
        <option selected>Choisir...</option>
        <option *ngFor = "let animalId of _animalIds" value = "{{ animalId }}">{{ animalId }}</option>
      </select></li>
      <li><button type="button" class="btn btn-primary" (click)="getTreatments(_selectedAnimal, _selectedOwner, _selectedClinic)"> Recherche </button></li>
      </ul>
</div>
    
<table class = "table table-striped">
    <thead class = "thead-dark">
        <th> Type de traitement</th>
        <th> Qté</th>
        <th> Date de début</th>
        <th> Date de fin</th>
        <th> Description </th>

    </thead>
    <tbody>
        <tr *ngFor="let treatment of _treatments">
                <td> {{treatment.typeid}}</td>
                <td> {{treatment.qte}}</td>
                <td> {{treatment.datedebut}}</td>
                <td> {{treatment.datefin}}</td>
                <td> {{treatment.descr}}</td>

        </tr>
    </tbody>
</table>
