#error{
    color: red;
}

#hts{
    margin-top: 10px;
    margin-bottom: 10px;
}

#ht{
    margin-top: 20px;
}
.title {
    color: bisque;
  }

#veterius:hover {
    color: white;
}
#navbarDropdown {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 21.5px;
    font-family: 'Archivo Narrow', sans-serif;
}

.dropdown-item {
    font-family: 'Merriweather Sans', sans-serif;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
