<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand title" href="/">Veto Sans Frontieres</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/animalUpdater">Supprimer ou modifier un animal</a>
        <a class="nav-item nav-link active" routerLink="/animalInserter">Enregistrer un animal</a>
      </div>
    </div>
  </nav>

<div style="text-align:center">
<div *ngIf="route == ''">
  <button type="button" class="btn btn-danger" (click) ="createDB()">Initialiser la base de donnee</button>
</div>

<router-outlet></router-outlet>
