<div id="hotel" style="text-align: left">
    <h1> Animals</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      <ul style="list-style: none;">

        clinique id: <li><select id="inputState" class="form-control col-md-4" #cliniqueId  [(ngModel)]="selectedClinic" (change)="updateOwners()">
          <option selected>Choisir...</option>
          <option *ngFor = "let clinicId of clinicIds" value="{{ clinicId }}">{{ clinicId }}</option>
        </select></li>

        proprietaire id: <li><select id="inputState" class="form-control col-md-4" #propId [(ngModel)]="selectedOwner" (change)="updateAnimals()" [disabled] = "isOwnersDisabled">
          <option selected>Choisir...</option>
          <option *ngFor = "let ownerId of ownerIds" value = "{{ ownerId }}">{{ ownerId }}</option>
        </select></li>

        animal id : <li><select id="inputState" class="form-control col-md-4" #animId [(ngModel)]="selectedAnimal" [disabled] = "isAnimalsDisabled" (change)= "updateFields()">
          <option selected>Choisir...</option>
          <option *ngFor = "let animalId of animalIds" value = "{{ animalId }}">{{ animalId }}</option>
        </select></li>

        nom : <li><input class="form-control col-md-4" #nom></li>

        espece : <li><input class="form-control col-md-4" #espece></li>

        etat : <li><select id="inputState" class="form-control col-md-4" #etat>
          <option selected></option>
          <option>VIVANT</option>
          <option>DECEDE</option>
        </select></li>

        description : <li><input class="form-control col-md-4" #desc></li>

        date de naissance (YYYY-MM-DD) : <li><input class="form-control col-md-4" type="text" id="datepicker" #ddn></li>
        date d'inscription (YYYY-MM-DD) : <li><input class="form-control col-md-4" #di></li>
      
      <li><button type="button" class="btn btn-primary" (click)="updateAnimal(nom.value, espece.value, etat.value, desc.value, ddn.value, di.value)">Confirmer les modifications</button></li>
      <li><button type="button" class="btn btn-primary" style="background-color: red" (click)="deleteAnimalById(animId.value, propId.value, cliniqueId.value)">Supprimer l'animal</button></li>

    </ul>
    </div>
