<div id="hotel" style="text-align: left">
    <h1>Supprimer ou modifier un animal</h1>
      <ul style="list-style: none;">

        Identifiant de la clinique: <li><select id="inputState" class="form-control col-md-4" #cliniqueId  [(ngModel)]="selectedClinic" (change)="updateOwners()">
          <option selected>Choisir...</option>
          <option *ngFor = "let clinicId of clinicIds" value="{{ clinicId }}">{{ clinicId }}</option>
        </select></li>

        Identifiant du proprietaire: <li><select id="inputState" class="form-control col-md-4" #propId [(ngModel)]="selectedOwner" (change)="updateAnimals()" [disabled] = "isOwnersDisabled">
          <option selected>Choisir...</option>
          <option *ngFor = "let ownerId of ownerIds" value = "{{ ownerId }}">{{ ownerId }}</option>
        </select></li>

        Identifiant de l'animal: <li><select id="inputState" class="form-control col-md-4" #animId [(ngModel)]="selectedAnimal" [disabled] = "isAnimalsDisabled" (change)= "updateFields()">
          <option selected>Choisir...</option>
          <option *ngFor = "let animalId of animalIds" value = "{{ animalId }}">{{ animalId }}</option>
        </select></li>

        Nom de l'animal: <li><input class="form-control col-md-4" #nom></li>

        Espèce: <li><input class="form-control col-md-4" #espece></li>

        État: <li><select id="inputState" class="form-control col-md-4" #etat>
          <option selected></option>
          <option>VIVANT</option>
          <option>DECEDE</option>
        </select></li>

        Description: <li><input class="form-control col-md-4" #desc></li>

        Date de naissance: <li>
            <input class="form-control col-md-4" placeholder="yyyy-mm-dd" #ddn (click)="d.toggle()"
            [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
        </li>
        Date d'inscription: <li><input class="form-control col-md-4" #di disabled = "disabled"></li>
      <li><button type="button" class="btn btn-primary" (click)="updateAnimal(nom.value, espece.value, etat.value, desc.value, ddn.value, di.value)">Confirmer les modifications</button></li>
      <li><button type="button" class="btn btn-primary" style="background-color: red" (click)="deleteAnimalById(animId.value, propId.value, cliniqueId.value)">Supprimer l'animal</button></li>

    </ul>


    <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
      <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
            [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
        {{ date.day }}
      </span>
    </ng-template>


    </div>
