<div id="traitement" style="text-align: left">
        <h1> Facture totale d'un animal </h1>
        <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
          NOPE
        </div>
        <ul style="list-style: none;">
            ID de l'animal : <li><input class="form-control col-md-4" #animId></li>
            ID du propriétaire : <li><input class="form-control col-md-4" #propId></li>
            ID de la clinique : <li><input  class="form-control col-md-4" #clinicId></li>
          <li><button type="button" class="btn btn-primary" (click)="getBill(animId.value,propId.value, clinicId.value)"> Recherche </button></li>
        </ul>
</div>
    
<table class = "table table-striped">
    <thead class = "thead-dark">
        <th> Type de traitement</th>
        <th> Qté</th>
        <th> Description </th>
        <th> Prix </th>
        <th> Coût </th>

    </thead>
    <tbody>
        <tr *ngFor="let treatment of _treatments">
                <td> {{treatment.typeid}}</td>
                <td> {{treatment.qte}}</td>
                <td> {{treatment.cout}}</td>
                <td> {{treatment.prix}}</td>
                <td> {{treatment.cout}}</td>
        </tr>
    </tbody>
    <tfoot>
        <th></th>
        <th></th>
        <th></th>
        <th> Total: </th>
        <th> {{_total}} </th>
    </tfoot>
</table>

