<div id="traitement" style="text-align: left">
        <h1> Facture totale d'un animal </h1>
        <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
          NOPE
        </div>
        <ul style="list-style: none;"> <!--
            ID de l'animal : <li><input class="form-control col-md-4" #animId></li>
            ID du propriétaire : <li><input class="form-control col-md-4" #propId></li>
            ID de la clinique : <li><input  class="form-control col-md-4" #clinicId></li>
        -->
            clinique id: <li><select id="inputState" class="form-control col-md-4" #cliniqueId  [(ngModel)]="selectedClinic" (change)="updateOwners()">
            <option selected>Choisir...</option>
            <option *ngFor = "let clinicId of clinicIds" value="{{ clinicId }}">{{ clinicId }}</option>
          </select></li>
  
          proprietaire id: <li><select id="inputState" class="form-control col-md-4" #propId [(ngModel)]="selectedOwner" (change)="updateAnimals()" [disabled] = "isOwnersDisabled">
            <option selected>Choisir...</option>
            <option *ngFor = "let ownerId of ownerIds" value = "{{ ownerId }}">{{ ownerId }}</option>
          </select></li>
  
          animal id : <li><select id="inputState" class="form-control col-md-4" #animId [(ngModel)]="selectedAnimal" [disabled] = "isAnimalsDisabled" (change)= "updateFields()">
            <option selected>Choisir...</option>
            <option *ngFor = "let animalId of animalIds" value = "{{ animalId }}">{{ animalId }}</option>
          </select></li>
          <li><button type="button" class="btn btn-primary" (click)="getBill(animId.value,propId.value, clinicId.value)"> Recherche </button></li>
        </ul>
</div>
    
<table id ="ht" align="center" border="1" width="575">
    <thead>
        <th> Type de traitement</th>
        <th> Qté</th>
        <th> Description </th>
        <th> Prix </th>
        <th> Coût </th>

    </thead>
    <tbody>
        <tr *ngFor="let treatment of _treatments">
                <td> {{treatment.typeid}}</td>
                <td> {{treatment.qte}}</td>
                <td> {{treatment.cout}}</td>
                <td> {{treatment.prix}}</td>
                <td> {{treatment.cout}}</td>
        </tr>
    </tbody>
    <tfoot>
        <th></th>
        <th></th>
        <th></th>
        <th> Total: </th>
        <th> {{_total}} </th>
    </tfoot>
</table>

