<div class="jumbotron">
    <h1 class="display-4">Enregistrer un animal</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
        L'identifiant entré est déjà associé à un animal pour ce propriétaire. Entrez un nouvel identifiant animal.
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success">
        Animal enregistré avec succès!
     </div>
    <p class="lead">Ici, vous pouvez enregistrer un nouvel animal à un propriétaire existant.</p>
    <hr class="my-4">

    <div class="row">

        <div class="col">
          Identifiant de la clinique: <select id="inputState" class="form-control" #cliniqueId  [(ngModel)]="selectedClinic" (change)="updateOwners()">
          <option selected>Choisir...</option>
          <option *ngFor = "let clinicId of clinicIds" value="{{ clinicId }}">{{ clinicId }}</option>
          </select>
        </div>

        <div class="col">
          Identifiant du proprietaire: <select id="inputState" class="form-control" #propId [(ngModel)]="selectedOwner" [disabled] = "isOwnersDisabled">
          <option selected>Choisir...</option>
          <option *ngFor = "let ownerId of ownerIds" value = "{{ ownerId }}">{{ ownerId }}</option>
          </select>
        </div>

        <div class="col">
          Identifiant de l'animal: <input class="form-control" #animId placeholder= "e.g. A1, A460, A9999">
        </div>

    </div>
<br>
    <div class = "row">
        <div class="col">
          Nom de l'animal: <input class="form-control" #nom>
        </div>
        <div class="col">
          Espèce: <input class="form-control" #espece placeholder = "e.g. chien, chat, tortue">
        </div>
        <div class="col">
            État: <select id="inputState" class="form-control" #etat>
                <option selected>Choisir...</option>
                <option>VIVANT</option>
                <option>DECEDE</option>
              </select>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
          Description: <input class="form-control" #desc>
        </div>
        <div class = "col">
          Date de naissance: <input class="form-control" placeholder="yyyy-mm-dd" #ddn (click)="d.toggle()"
            [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker">
        </div>
      </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="insertAnimal(animId.value, nom.value, etat.value, espece.value, desc.value, ddn.value, propId.value, cliniqueId.value)"> Ajouter un animal</button>
</div>
  

    <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
        <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
              [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
          {{ date.day }}
        </span>
    </ng-template>

    