

<div id="hotel" style="text-align: left">

    <h1>Ajouter un animal</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      L'identifiant entré est déjà associé à un animal pour ce propriétaire. Entrez un nouvel identifiant animal.
    </div>

    
      <ul style="list-style: none;">

        Identifiant de la clinique: <li><select id="inputState" class="form-control col-md-4" #cliniqueId  [(ngModel)]="selectedClinic" (change)="updateOwners()">
          <option selected>Choisir...</option>
          <option *ngFor = "let clinicId of clinicIds" value="{{ clinicId }}">{{ clinicId }}</option>
        </select></li>

        Identifiant du proprietaire: <li><select id="inputState" class="form-control col-md-4" #propId [(ngModel)]="selectedOwner" [disabled] = "isOwnersDisabled">
          <option selected>Choisir...</option>
          <option *ngFor = "let ownerId of ownerIds" value = "{{ ownerId }}">{{ ownerId }}</option>
        </select></li>

        Identifiant de l'animal: <li><input class="form-control col-md-4" #animId placeholder= "e.g. A1"></li>

        Nom de l'animal: <li><input class="form-control col-md-4" #nom></li>
        Espèce: <li><input class="form-control col-md-4" #espece placeholder = "e.g. chien, chat, tortue"></li>
        État: <li><select id="inputState" class="form-control col-md-4" #etat>
          <option selected>Choisir...</option>
          <option>VIVANT</option>
          <option>DECEDE</option>
        </select></li>
        Description: <li><input class="form-control col-md-4" #desc></li>
        Date de naissance: <li> <input class="form-control col-md-4" placeholder="yyyy-mm-dd" #ddn (click)="d.toggle()"
          [(ngModel)]="model" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled" #d="ngbDatepicker"></li>
      <li><button type="button" class="btn btn-primary" (click)="insertAnimal(animId.value, nom.value, etat.value, espece.value, desc.value, ddn.value, propId.value, cliniqueId.value)"> Ajouter un animal</button></li>
    </ul>

    <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
        <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
              [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
          {{ date.day }}
        </span>
    </ng-template>
    </div>

    